%flexx-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-post {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
}

.new-post__alert {
    @extend %flexx-center;
    position: absolute;
    width: 300px;
    height: 100px;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background: #DC143C;
    text-align: center;
    border-radius: 2px;
    transition: 0.75s;
}

.new-post__alert-text {
    display: inline-block;
    width: 75%;
}

.new-post__header {
    margin: 10px 0;
    font-size: 30px;
}

.new-post__label {
    margin: 20px 0;
    font-size: 26px;
}

.new-post__title-input,
.new-post__content-input {
    display: inline-block;
    border: 1px solid rgba(53, 120, 172, 0.7);
    outline: 0;
    width: 100%;
    margin: 0 auto 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 22px;
    background: #f5f5f5;
    border-radius: 2px;
}

.new-post__title-input {
    text-align: center;
}

.new-post__selects,
.new-post__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 20px;
}

.new-post__selects {
    .topic-filter,
    .genre-filter {
        width: 45%;
    }
}

.new-post__image-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.new-post__image-input {
    display: none;
}

.new-post__image-preview {
    max-width: 200px;
    max-height: 100px;
}

.new-post__image-label {
    @extend %flexx-center;
}

.new-post__image-label,
.new-post__submit {
    border: 1px solid rgba(53, 120, 172, 0.7);
    outline: 0;
    margin: 20px 0;
    width: 200px;
    height: 50px;
    font-size: 22px;
    background: rgba(53, 120, 172, 0.7);
    border-radius: 2px;
    transition: 0.3s;
    &:hover {
        background: #f5f5f5;
    }
}