/* ---------------GENERAL--------------- */

%rem-marpad {
    margin: 0;
    padding: 0;
}

%fill-parent {
    width: 100%;
    height: 100%;
}

%flexx-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    @extend %rem-marpad;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

html,
body,
.page-wrap,
.slider-wrap {
    @extend %rem-marpad,
    %fill-parent;
    max-width: 100%;
}

body {
    background: #F5F5F5;
}


/* ---------------HEADER--------------- */

.header {
    position: relative;
    width: 100%;
    height: 600px;
}

.header-row {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &>* {
        width: 30%;
    }
}


/* ----------LOGO---------- */

.logo {
    @extend %rem-marpad,
    %flexx-center;
}

.logo__image {
    width: 55px;
    height: 55px;
    background: center / cover url(../../src/img/logo.png);
}

.logo__name {
    margin: 0 15px;
}


/* ----------MENU---------- */

.nav-menu-wrap {
    @extend %flexx-center;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    padding: 10px 0;
}

.nav-menu__item {
    width: 100px;
    height: 50px;
    border-right: 1px solid black;
    transition: 0.3s;
    &:last-child {
        border: none;
    }
    a {
        @extend %rem-marpad,
        %fill-parent,
        %flexx-center;
        text-decoration: none;
        color: black;
        cursor: pointer;
        overflow: hidden;
    }
    span {
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 2px;
            top: 125%;
            left: -250%;
            opacity: 0;
            transform: translate(-90%, -50%);
            background: #3578ac;
            transition: 0.3s ease-in-out;
        }
        &::after {
            left: 250%;
            transform: translate(-10%, -50%);
        }
    }
    &:hover span::before,
    &:hover span::after {
        left: 50%;
        opacity: 1;
    }
    // &:hover ~ .hover-line{
    // }
}


/* -----SEARCH----- */

.search {
    position: relative;
    background: #A3D0C3;
    border-radius: 10px;
}

.search__input,
.search__button {
    border: none;
    outline: none;
    background: transparent;
}

.search__input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.search__btn {
    @extend %flexx-center,
    %rem-marpad;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: no-repeat center/contain url(../../src/img/search.png);
        filter: invert(1);
    }
}


/* ----------SLIDER---------- */

.slider {
    position: relative;
    width: 100%;
    height: 450px;
    background: rgba(100, 100, 100, 0.7);
    // background: rgba(200, 0, 200, 0.7);
    overflow: hidden;
}

.slider__item {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 450px;
    opacity: 0;
    transition: 0.75s ease-in-out;
    &::after {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
    }
}

.slider__item-content {
    position: absolute;
    top: 200%;
    left: 125%;
    width: 75%;
    // height: calc(100% - 70px);
    height: 100%;
    padding: 0 0 0 50px;
    background: rgba(18, 127, 211, 0.9);
    border-radius: 3px 0 0 0;
    transition: 0.75s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.item-content__title {
    max-width: 75%;
    margin: 40px 0;
    font-size: 36px;
}

.item-content__content {
    max-width: 75%;
    max-height: 180px;
    margin: 0 0 20px;
    font-size: 26px;
    overflow: hidden;
}

.radio-slider {
    display: none;
}

.radio-slider:checked+.slider__item {
    opacity: 1;
    left: 0;
    .slider__item-content {
        top: 70px;
        // top: 0;
        left: 25%;
    }
}

.slider__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-panel {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-dot {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 20px;
    padding: 0;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background: #8d8d8d;
    &:hover {
        transform: scale(0.95);
        background: #FFFAFA;
    }
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        border: 0;
        transition: 0.5s ease;
    }
}

#slide-1:checked~.slider-panel .slider-dot:nth-child(1),
#slide-2:checked~.slider-panel .slider-dot:nth-child(2),
#slide-3:checked~.slider-panel .slider-dot:nth-child(3),
#slide-4:checked~.slider-panel .slider-dot:nth-child(4),
#slide-5:checked~.slider-panel .slider-dot:nth-child(5) {
    background: rgba(0, 0, 0, 0.95);
    transform: scale(1.15);
    &::after {
        width: 125%;
        height: 125%;
        border: 1px solid rgba(255, 250, 250, 0.5);
    }
}


/* ---------------MAIN--------------- */

.main-wrap {
    box-sizing: border-box;
    background: #3578ac;
}


/* ----------MENU---------- */

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 150px;
    .main-menu__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        width: 30%;
        padding: 25px 0;
        text-align: center;
        overflow: hidden;
        transition: 0.3s;
        .main-menu__item-number {
            @extend %rem-marpad;
            font-size: 22px;
        }
        .main-menu__item-name {
            @extend %rem-marpad;
            font-size: 32px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 20%;
            height: 2px;
            background: #3578ac;
            transform: translate(-50%, -50%);
            top: 85%;
            left: -50%;
            opacity: 0;
            transition: 0.5s ease-in-out;
        }
        &:hover {
            background: rgba(175, 175, 175, 0.75);
        }
        &:hover::after {
            left: 50%;
            opacity: 1;
        }
    }
}


/* ----------POSTS---------- */

// .posts-wrap {}
.posts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: 200px;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 30px;
}

.post {
    position: relative;
    width: 100%;
    height: 100%;
    // margin: 20px auto;
    box-sizing: border-box;
    background: #8d8d8d;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.95;
    transition: 0.15s linear;
    &:hover {
        opacity: 1;
        box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.75);
    }
}

.post-small {
    grid-row-end: span 1;
    .post__description {
        display: none;
    }
}

.post-medium {
    grid-row-end: span 2;
}

.post-big {
    grid-row-end: span 3;
}

.post__image {
    margin: 0 0 5px;
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: top;
}

.post__description {
    width: 90%;
    margin: 0 5%;
}

.more-btn-wrap {
    width: max-content;
    margin: 0 auto;
    padding: 10px 0;
}

.more-btn {
    padding: 8px 16px;
}


/* -----POST_AUTHOR----- */

.post__author {
    @extend %flexx-center;
    justify-content: space-between;
    height: 40px;
}

.post__author-info,
.post__date {
    @extend %flexx-center;
}

.post__author-avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: center / cover url(../../src/img/user-icon.png);
}

.post__author-name {
    margin-left: 5px;
}

.post__date-point {
    margin: 0 5px;
}


/* -----ARTICLE----- */

.post__article {
    margin: 5px auto 10px;
}

.post__title {
    margin: 0 auto 10px;
    font-size: 36px;
    text-align: center;
}

.post__content {
    position: relative;
    height: auto;
    // max-height: 120px;
    margin: 0;
    padding: 0 5%;
    font-size: 20px;
    overflow: hidden;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 10px;
    //     background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(141, 141, 141, 1) 50%);
    // }
}


/* -----POST_FOOTER----- */

.post__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.post__hr {
    width: 90%;
    margin: 2px auto;
}

.post__stats {
    @extend %flexx-center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    margin: 0 0 10px;
}

.post__views,
.post__likes {
    margin: 0 20px;
}


/* ---------------FOOTER--------------- */

.footer-wrap {
    @extend %rem-marpad;
    padding: 40px 0 0;
    background: #1d2b36;
    .footer {
        @extend %rem-marpad,
        %fill-parent,
        %flexx-center;
        flex-wrap: wrap;
        width: 95%;
        min-height: 200px;
        margin: 0 auto;
    }
    hr {
        width: 100%;
    }
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 200px;
    .slogan {
        text-align: center;
    }
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;
    margin-bottom: 20px;
    .item {
        @extend %rem-marpad;
        width: 25%;
    }
}

.signature {
    @extend %flexx-center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}


/* footer icons */

.signature__socs {
    width: 40%;
    ul {
        @extend %flexx-center;
        justify-content: space-between;
        li {
            width: 32px;
            height: 32px;
            background: #F5F5F5;
        }
    }
}